@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #2e7d32;
  height: 15vh;
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: 2.5vh;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fffdfc;
  font-size: 25px;
  font-weight: 800;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #fffdfc;
  display: block;
  font-weight: 600;
  transition: color 0.5s;
}

.menu .navbar ul li a:hover {
  color: #cccccc;
}

.Services {
  padding: 60px 0;
  text-align: center;
  position: relative;
}

.Services-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.Services-content h2 {
  font-size: 55px;
  line-height: 70px;
  color: #2e7d32;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.Services-group {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 50px;
}

.Services-1 {
  padding: 0;
  text-align: center;
}

.Services-1 img {
  width: 40px;
  height: auto;
  margin-bottom: 10px;
  display: block;
  filter: hue-rotate(60deg);
}

.Services-1 h3 {
  color: #2e7d32;
  font-size: 18px;
  margin-bottom: 10px;
}
