@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: scroll;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #2e7d32;
  height: 110px;
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fffdfc;
  font-size: 25px;
  font-weight: 800;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #fffdfc;
  display: block;
  font-weight: 600;
  transition: color 0.5s;
}

.menu .navbar ul li a:hover {
  color: #cccccc;
}

.Services {
  padding: 60px 0;
  text-align: center;
  position: relative;
}

.Services-content {
  padding: 0 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.Services-content h2 {
  font-size: 55px;
  line-height: 70px;
  color: #2e7d32;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.Services-group {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 50px;
}

.Services-1 {
  padding: 15px;
  width: 280px;
  height: 205px;
  text-align: center;
  border: 3px solid #2e7d32;
  border-radius: 15px;
  transition: all 0.5s;
}

.Services-1:hover {
  background-color: #2e7d32;
  padding: 30px;
  width: 315px;
  height: 240px;
  box-shadow: 10px 10px 5px #9b9b9b;
}

.Services-1:hover h3 {
  color: white;
}

.Services-1 img {
  width: auto;
  height: 120px;
  margin: 0 auto;
  display: block;
  filter: hue-rotate(60deg);
}

.Services-1 h3 {
  color: #2e7d32;
  font-size: 18px;
}

.Description {
  max-width: 1200px;
  margin: 0px 150px;
  margin-bottom: 100px;
  gap: 20px;
  display: flex;
}

.cDescription {
  background-color: #2e7d32;
  padding: 40px;
  height: 250px;
}

.cDescription h2 {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.cDescription p {
  font-size: 20px;
  color: white;
}
